In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
!pip install plotnine

Collecting plotnine
  Downloading plotnine-0.13.6-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: matplotlib>=3.7.0 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from plotnine) (3.9.1)
Requirement already satisfied: pandas<3.0.0,>=2.1.0 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from plotnine) (2.2.2)
Collecting mizani~=0.11.0 (from plotnine)
  Downloading mizani-0.11.4-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: numpy>=1.23.0 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from plotnine) (2.0.1)
Collecting scipy>=1.7.0 (from plotnine)
  Downloading scipy-1.14.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 kB 5.5 MB/s eta 0:00:00
Collecting statsmodels>=0.14.0 (from plotnine)
  Downloading statsmodels-0.14.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.2 kB)
Requirement already satisfied: contourpy>=1.0.1 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (24.1)
Requirement already satisfied: pillow>=8 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from matplotlib>=3.7.0->plotnine) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from pandas<3.0.0,>=2.1.0->plotnine) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from pandas<3.0.0,>=2.1.0->plotnine) (2024.1)
Collecting patsy>=0.5.6 (from statsmodels>=0.14.0->plotnine)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: six in /home/kim1/.pyenv/versions/note/lib/python3.11/site-packages (from patsy>=0.5.6->statsmodels>=0.14.0->plotnine) (1.16.0)
Downloading plotnine-0.13.6-py3-none-any.whl (1.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 22.7 MB/s eta 0:00:00a 0:00:01
Downloading mizani-0.11.4-py3-none-any.whl (127 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.4/127.4 kB 13.7 MB/s eta 0:00:00
Downloading scipy-1.14.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.1/41.1 MB 20.0 MB/s eta 0:00:0000:0100:01
Downloading statsmodels-0.14.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 40.7 MB/s eta 0:00:0000:010:01
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 27.0 MB/s eta 0:00:00
Installing collected packages: scipy, patsy, statsmodels, mizani, plotnine
Successfully installed mizani-0.11.4 patsy-0.5.6 plotnine-0.13.6 scipy-1.14.0 statsmodels-0.14.2

### pd.date_range를 통해 dt 칼럼에 들어갈 값 생성 가능

In [14]:
dates = pd.date_range('20130101', periods=40)

In [15]:
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20',
               '2013-01-21', '2013-01-22', '2013-01-23', '2013-01-24',
               '2013-01-25', '2013-01-26', '2013-01-27', '2013-01-28',
               '2013-01-29', '2013-01-30', '2013-01-31', '2013-02-01',
               '2013-02-02', '2013-02-03', '2013-02-04', '2013-02-05',
               '2013-02-06', '2013-02-07', '2013-02-08', '2013-02-09'],
              dtype='datetime64[ns]', freq='D')

속성 지정 : 딕셔너리의 key 값에는 속성, value에는 값을 지정. 만약 값을 하나로 통일하고 싶으면 인자 하나만 넣기, 그 반대라면 리스트로 넣기

In [21]:
df = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [22]:
print(df)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
df.head(4)
df.tail(4)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [27]:
df.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [29]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

전치 : 데이터저장방식에 따라 변경해야 할 때 사용하면 되지 않을까 싶다.

In [41]:
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [43]:
df.sort_values(by='B')

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

데이터 접근은 파이썬의 인덱스 접근 방식과 동일하다

In [45]:
df[0:3]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

loc : location의 약자로, 데이터프레임의 행 또는 칼럼의 label이나 boolean array로 인덱싱하는 방법

- .loc[0] : 전체 데이터 프레임에서 인덱스 이름이 0인 행만 추출해줘
- .iloc[0] : 전체 데이터 프레임에서 0번째 행에 있는 값들만 추출해줘

In [50]:
df.loc[3]

A                    1.0
B    2013-01-02 00:00:00
C                    1.0
D                      3
E                  train
F                    foo
Name: 3, dtype: object

In [51]:
df.loc

Timestamp('2013-01-01 00:00:00')

부울 인덱싱 : 선택한 데이터에 단일 열의 값을 사용 => 조건절을 사용할 수 있다는 점이 장점

In [53]:
df[df.A > 0]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

데이터 안에 '특정 단어'가 있는지 확인하고 싶을 때 사용

In [57]:
df[df['B'].isin(['two', 'four'])]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [59]:
df.dropna()
df.fillna(value=7)
pd.isna(df)

TypeError: Cannot setitem on a Categorical with a new category (7), set the categories first