### CSV 2 PARQUET

In [44]:
import pandas as pd
import copy

In [20]:
df = pd.read_csv('~/data/csv/20240717/csv.csv',
                 on_bad_lines='skip',
                 encoding='latin',
                 names=['dt', 'cmd', 'count'])

In [18]:
df

     ^2024-07-17^               ^^ ^288^
0    ^2024-07-17^              ^"^  ^24^
1    ^2024-07-17^             ^./^  ^24^
2    ^2024-07-17^     ^./goaws.sh^  ^24^
3    ^2024-07-17^   ^./rootdir.sh^  ^24^
4    ^2024-07-17^       ^./ssh.sh^  ^24^
..            ...              ...   ...
139  ^2024-07-17^          ^ë¤µ!^  ^24^
140  ^2024-07-17^  ^ì«¼ê°ì½¤^  ^24^
141  ^2024-07-17^      ^ì«¼ê°¤^  ^24^
142  ^2024-07-17^     ^ìµ¤ìµ¹^  ^24^
143  ^2024-07-17^      ^ì¶´ì·©^  ^24^

[144 rows x 3 columns]

df.tail(3)

In [22]:
df.head(3)

             dt   cmd  count
0  ^2024-07-17^    ^^  ^288^
1  ^2024-07-17^   ^"^   ^24^
2  ^2024-07-17^  ^./^   ^24^

In [30]:
df['dt'] = df['dt'].str.replace('^', '')
df['cmd'] = df['cmd'].str.replace('^', '')
df['count'] = df['count'].str.replace('^', '')

In [ ]:
# 괄호 안에 있는 문자가 포함하는지 여부를 확인하는 코드

In [52]:
fdf = df[df['cmd'].str.contains('aws')]

In [53]:
fdf.loc[:, 'count'] = fdf['count'].astype(int)

In [54]:
fdf['count'].sum()

72

In [55]:
fdf.tail(3)

              dt                                                cmd count
3    2024-07-17                                          ./goaws.sh    24
16   2024-07-17   AWS=ec2-43-201-37-254.ap-northeast-2.compute.a...    24
26   2024-07-17   \ubuntu@ec2-43-201-37-254.ap-northeast-2.compu...    24