# csv 2 parquet

In [56]:
import pandas as pd

In [58]:
df = pd.read_csv('~/data/csv/20240717/csv.csv', 
                 on_bad_lines='skip', 
                 names=['dt', 'cmd', 'cnt'], encoding='latin1')

In [88]:
df['cnt'] = df['cnt'].astype(int)

In [89]:
df.tail(3)

             dt         cmd  cnt
142  2024-07-17   ì«¼ê°¤   24
143  2024-07-17  ìµ¤ìµ¹   24
144  2024-07-17   ì¶´ì·©   24

In [90]:
df.head(3)

           dt cmd  cnt
0  2024-07-17      288
1  2024-07-17   "   24
2  2024-07-17  ./   24

In [91]:
df['dt'] = df['dt'].str.replace('^', '')
df['cmd'] = df['cmd'].str.replace('^', '')
df['cnt'] = df['cnt'].str.replace('^', '')

AttributeError: Can only use .str accessor with string values!

In [93]:
df.tail(3)

             dt         cmd  cnt
142  2024-07-17   ì«¼ê°¤   24
143  2024-07-17  ìµ¤ìµ¹   24
144  2024-07-17   ì¶´ì·©   24

In [94]:
fdf = df[df['cmd'].str.contains('ls')]

In [83]:
fdf

             dt                                                cmd  cnt
12   2024-07-17                                                ;ls   24
26   2024-07-17  \ubuntu@ec2-43-201-37-254.ap-northeast-2.compu...   24
48   2024-07-17  git@github.com:lsiwh37249/lsiwh37249.github.io...   24
55   2024-07-17                                      hi-lsiwh37249   24
69   2024-07-17                                                lls   24
70   2024-07-17                                            llslsls   24
75   2024-07-17                                                 ls  600
76   2024-07-17                                                ls\   24
77   2024-07-17                                   lsiwh37234-lotto   24
78   2024-07-17                                     lsiwh37249_cmd   24
79   2024-07-17                                   lsiwh37249_lotto   24
80   2024-07-17                                                lsl   24
81   2024-07-17                                              lslls   24
82   2024-07-17                                     lslslslslslsls   24
83   2024-07-17                                                lss   24
94   2024-07-17                                                pls   24
114  2024-07-17                                                sls   24
115  2024-07-17                                              slsls   24
116  2024-07-17                                            slslsls   24
117  2024-07-17                                         slslslssls   24
118  2024-07-17                                               slss   24

In [1]:
cnt = fdf['cnt'].sum()

NameError: name 'fdf' is not defined

In [96]:
print(cnt)

1080

In [75]:
fdf.dtypes

dt     object
cmd    object
cnt    object
dtype: object

In [97]:
df.to_parquet("~/tmp/history.parquet")

In [98]:
p = pd.read_parquet("~/tmp/history.parquet")

In [99]:
p.tail(3)

             dt         cmd  cnt
142  2024-07-17   ì«¼ê°¤   24
143  2024-07-17  ìµ¤ìµ¹   24
144  2024-07-17   ì¶´ì·©   24